<mat-card class="example-card">
    <mat-card-actions>

<a routerLink *ngIf ="Auth.user | async" (click) = "logout()"> logout</a>
<a routerLink *ngIf ="!(Auth.user | async)" (click) = "login()"> login</a>-
<a routerLink = "register">  Register</a>-
<a routerLink = "books">Books</a>
</mat-card-actions>
</mat-card>
