<div *ngIf = "!(auth.user | async)">
<a routerLink = "/register">Register</a>or<a routerLink *ngIf ="auth.user | async" (click) = "logout()"> logout</a>
<a routerLink = "/login" *ngIf ="!(auth.user | async)" (click) = "login()"> login</a> to manage your reading list
</div>
<div *ngIf = "(auth.user | async)">
    
    <div>
    <mat-form-field class="example-full-width">
      <input [(ngModel)] = 'namebook' matInput placeholder="Add book">
      <mat-hint>Book</mat-hint>
    </mat-form-field>
    <div>
            <mat-form-field class="example-full-width">
              <input [(ngModel)] = 'author' matInput placeholder="author">
              <mat-hint>author</mat-hint>
            </mat-form-field>  </div>

    <button mat-raised-button (click)= "addBook()">Add</button>
<div>
  <ul>
    <book *ngFor="let book of books" [data]= "book"></book>
  </ul>
</div>
<book></book>
</div>
