
<li (mouseenter) = "showButton()"
    (mouseleave) = "hideButton()">
  name of the book : {{namebook}} <a  
                    (click) = "send()"
                    *ngIf="showTheButton"
                    >the author is : {{author}}</a> <mat-checkbox class="example-margin" (change) = "checkboxclicked()" [(ngModel)]="done">read</mat-checkbox>

                    
</li>

  