<P>All fields are required</P>
<form>
    <mat-form-field class="example-full-width">
        <input [(ngModel)] = "name" name = "name" matInput placeholder="name">
        <mat-hint>your name</mat-hint>
      </mat-form-field>
    <br>
    
  <mat-form-field class="example-full-width">
    <input [(ngModel)] = "email" name = "email" matInput placeholder="Email">
    <mat-hint>Your Email</mat-hint>
  </mat-form-field>
  <p class = "error"  *ngIf = "error.code=='auth/invalid-email'">{{error.message}}</p>
  <br>
  <mat-form-field class="example-full-width">
      <input [(ngModel)] = "password" name = "password" matInput placeholder="Password">
      <mat-hint>Try as strongs as possible</mat-hint>
    </mat-form-field>
    <p class = "error"  *ngIf = "error.code=='auth/weak-password'">{{error.message}}</p>
  <br>
  <mat-form-field class="example-full-width">
      <input [(ngModel)] = "confirmPassword" name = "confirmPassword" matInput placeholder="confirmPassword">
      <mat-hint>Please confirm your password</mat-hint>
    </mat-form-field>
    <p class = "error"  *ngIf = "Password!=confirmPassword">try again</p>

  <br>
<mat-form-field class="example-full-width">
  <input [(ngModel)] = "nickname" name = "nickname" matInput placeholder="nickname">
  <mat-hint> your nickname</mat-hint>
</mat-form-field>
<br>
    <button  (click) = "signUp()">
      Login
    </button>
  </form>